@import "normalize.css";

@font-face {
  font-family: "IsidoraSans"; /*Can be any text*/
  src: url("./../../fonts/OTF/IsidoraSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IsidoraSans"; /*Can be any text*/
  src: url("./../../fonts/OTF/IsidoraSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IsidoraSans"; /*Can be any text*/
  src: url("./../../fonts/OTF/IsidoraSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IsidoraSans"; /*Can be any text*/
  src: url("./../../fonts/OTF/IsidoraSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "EduQLDBeginner"; /*Can be any text*/
  src: url("./../../fonts/EduQLDBeginner-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --gold: #d7b356;
  --white: #f5f5f5;
  --lighter-black: #525252;
  --light-black: #313131;
  --black: #000000;
  /* --gradient: linear-gradient(
    270deg,
    rgba(3, 3, 3, 0.026) 30.73%,
    rgba(215, 179, 86, 0.2) 100%
  ); */
  --gradient: url("./../assets/grad.svg");
}

* {
  box-sizing: border-box;
  font-family: "IsidoraSans", cursive;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h,
h,
h6 {
  font-family: "EduQLDBeginner";
}

p {
  font-size: 20px;
  font-weight: 500;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  p {
    padding: 0 28px;
  }
  &--fixed {
    max-width: 1440px;
    margin: 0 auto;
  }
}

section {
  padding-bottom: 30px;
  h1 {
    border-bottom: 1px solid var(--gold);
    padding-left: 30px;
    color: var(--light-black);
  }
  p {
    padding: 0px 30px;
    line-height: 1.5;
    color: var(--lighter-black);
  }
}
.navigation {
  z-index: 10;
}
