nav {
  background: #fff;
}

.navigation {
  max-height: 50px;
  /* overflow: hidden; */
  position: relative;
  padding: 0 30px;
  &__brand-logo {
    display: inline-block;
    overflow: hidden;
    padding: 5px 0;
    a {
      height: 40px;
      display: block;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  ul.top-level {
    position: absolute;
    top: 50px;
    right: 0;
    height: 100vh;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    background: var(--gold);
    li {
      border-top: 1px solid var(--white);
      &:first-child {
        border: none;
      }
      a {
        display: block;
        text-decoration: none;
        padding: 15px 20px;
        text-transform: uppercase;
        overflow: hidden;
        color: var(--white);
      }
    }
    ul {
      transform: all 300ms ease-in-out;
      &.collapse {
        max-height: 0;
        visibility: hidden;
      }
      &.expand {
        max-height: auto;
        visibility: visible;
      }
      li {
        list-style: none;
        &:first-child {
          border-top: 1px solid var(--white);
        }
      }
    }
  }

  &__mobile-toggle-button {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--gold);
    &__bar {
      width: 20px;
      height: 2px;
      position: inherit;
      top: 8px;
      left: 4px;
      background: var(--gold);
      border-radius: 2px;
      &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        border-radius: 2px;
        width: 20px;
        height: 2px;
        background: var(--gold);
      }
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        border-radius: 2px;
        width: 20px;
        height: 2px;
        background: var(--gold);
      }
    }
  }
}
